<div class="container" style="height: 80vh">
  <div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-6 d-flex flex-column">
      <div class="form-wrapper" *ngIf="!authService.isAuthenticated()">
        <div class="h2 mb-4 text-center text-p-dark">Login</div>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Your email address"
              formControlName="email"
              autocomplete="off"
              required
            />
            <small
              *ngIf="
                loginForm.controls.email.invalid &&
                loginForm.controls.email.touched
              "
              class="text-danger"
            >
              * Email is required
            </small>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
              autocomplete="off"
              required
            />
            <small
              *ngIf="
                loginForm.controls.email.invalid &&
                loginForm.controls.password.touched
              "
              class="text-danger"
            >
              * Password is required
            </small>
          </div>
          <div class="text-center my-3">
            Don't an account yet?&nbsp;<a
              class="text-p-dark"
              routerLink="/signup"
              >Sign up one right here</a
            >
          </div>
          <div class="d-flex justify-content-center">
            <app-button [btnContent]="'Log in'" (click)="login()"></app-button>
          </div>
          <div *ngIf="isInvalidInput" class="alert alert-danger mt-3 mb-0">
            Wrong Email address or Password. Please try again.
          </div>
        </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div
        *ngIf="authService.isAuthenticated()"
        class="h3 text-center text-p-dark"
      >
        Please wait when we are redirecting you to previous page...
      </div>
    </div>
  </div>
</div>
