<div class="container">
  <div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-6 d-flex flex-column">
      <div class="h2 mb-4 text-center text-p-dark">Log in</div>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <input
            class="form-control"
            placeholder="Email"
            type="email"
            formControlName="email"
          />
          <small *ngIf="loginForm.controls.email.invalid" class="text-danger">
            * Email is required</small
          >
        </div>
        <div class="form-group">
          <input
            class="form-control"
            placeholder="Password"
            type="password"
            formControlName="password"
          />
          <small *ngIf="loginForm.controls.password.invalid" class="text-danger"
            >* Password is required</small
          >
        </div>
        <a class="d-block mb-3 text-center text-p-dark" routerLink="/signup"
          >Already have an account?</a
        >
        <div class="d-flex justify-content-center">
          <app-button [btnContent]="'Log in'" (click)="login()"></app-button>
        </div>

        <div *ngIf="loginForm.invalid" class="alert alert-danger mt-3 mb-0">
          Wrong Email or Password
        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
