<div class="container pb-5">
  <div class="row mb-4">
    <div class="col mt-4 mx-auto bg-white shadow pb-3">
      <h1 class="text-center text-p-dark my-4">FPT Software Academy</h1>
      <h4 class="text-center text-p-dark">Professional Angular Developer</h4>
      <h4 class="text-center text-p-dark">Team Dev 03</h4>
      <div class="row py-4">
        <div
          class="col rounded shadow-sm d-flex justify-content-around align-items-center bg-img"
        >
          <div class="p-3">
            <div class="text-center">
              <img
                class="avatar rounded-circle"
                src="https://scontent.fhan19-1.fna.fbcdn.net/v/t39.30808-6/274271525_10216878177947326_4405485622442855060_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_ohc=QxCkP5ehRooAX9yUaY-&_nc_ht=scontent.fhan19-1.fna&oh=00_AfA4zpbXNHwiqR_A0WsU-XhZ3xbFm0lv6dwo35NpUGc6Xw&oe=63995211"
                alt="LinhDV5's profile image"
              />
            </div>
            <div class="h2 mt-2 text-p-dark text-center font-weight-bold">
              LinhDV5
            </div>
            <div class="text-p-dark text-center lead">
              <em>Software Architecture</em>
            </div>
          </div>
          <div class="p-3">
            <div class="text-center">
              <img
                class="avatar rounded-circle"
                src="https://scontent.fhan19-1.fna.fbcdn.net/v/t1.6435-9/76199278_140621307348385_837453970577293312_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ZRqIEfTDQxkAX_gQhtt&_nc_ht=scontent.fhan19-1.fna&oh=00_AfBQa437oEEVDnGb-i9om-mFufmdDPL2IDOMub1D3PiQbQ&oe=63B3B28B"
                alt="DienNM2's profile image"
              />
            </div>
            <div class="h2 mt-2 text-p-dark text-center font-weight-bold">
              DienNM2
            </div>
            <div class="text-p-dark text-center lead">
              <em>UI/UX Designer</em>
            </div>
          </div>
          <div class="p-3">
            <div class="text-center">
              <img
                class="avatar rounded-circle"
                src="https://scontent.fhan19-1.fna.fbcdn.net/v/t1.6435-9/46479857_2158110677739893_1511044231458717696_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_ohc=Qflg06inzeEAX9MZchU&_nc_ht=scontent.fhan19-1.fna&oh=00_AfDY1mbbE3-sMOglzpBf2SMB_SdZQQX3DvU7576pi3NF6w&oe=63B3CC39"
                alt="DaDV1's profile image"
              />
            </div>
            <div class="h2 mt-2 text-p-dark text-center font-weight-bold">
              DaDV1
            </div>
            <div class="text-p-dark text-center lead">
              <em>Software Developer</em>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-4">
        <div class="col text-center text-p-dark">
          <strong style="line-height: 5rem"
            >© 2021 Team Dev 03. All rights reserved.</strong
          >
        </div>
      </div>
    </div>
  </div>
</div>
