<div class="container pb-5">
  <div class="row mb-4">
    <div class="col mt-4 mx-auto bg-white shadow pb-3">
      <h1 class="text-center text-p-dark my-4">Team Dev 03</h1>
      <div class="row py-4">
        <div
          class="col bg-img d-flex justify-content-around align-items-center shadow-sm rounded"
        >
          <div class="p-3">
            <div class="text-center">
              <img
                class="avatar rounded-circle"
                src="https://static.productionready.io/images/smiley-cyrus.jpg"
                alt=""
              />
            </div>
            <div class="h2 mt-2 text-p-dark text-center font-weight-bold">
              LinhDV5
            </div>
            <div class="text-p-dark text-center lead">
              <em>Software Achitect</em>
            </div>
          </div>
          <div class="p-3">
            <div class="text-center">
              <img
                class="avatar rounded-circle"
                src="https://static.productionready.io/images/smiley-cyrus.jpg"
                alt=""
              />
            </div>
            <div class="h2 mt-2 text-p-dark text-center font-weight-bold">
              DienNM2
            </div>
            <div class="text-p-dark text-center lead">
              <em>Software Designer</em>
            </div>
          </div>
          <div class="p-3">
            <div class="text-center">
              <img
                class="avatar rounded-circle"
                src="https://static.productionready.io/images/smiley-cyrus.jpg"
                alt=""
              />
            </div>
            <div class="h2 mt-2 text-p-dark text-center font-weight-bold">
              DaDV1
            </div>
            <div class="text-p-dark text-center lead">
              <em>Software Developer</em>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-4">
        <div class="col text-center text-p-dark">
          <strong style="line-height: 5rem"
            >© 2021 Team Dev 03. All rights reserved.</strong
          >
        </div>
      </div>
    </div>
  </div>
</div>
