<div class="container pb-5">
  <div class="row mb-4">
    <div class="col-8 mt-4 mx-auto bg-white shadow pb-3">
      <h1 class="text-center text-p-dark my-4">
        {{ onEditing ? "Edit" : "New" }} Article
      </h1>
      <form [formGroup]="newArticleForm">
        <!-- Article title -->
        <div class="form-group">
          <label for="title" class="text-p-dark font-weight-bold">
            Title:
          </label>
          <input
            id="title"
            class="form-control"
            type="text"
            placeholder="Article title"
            formControlName="title"
          />
          <small
            class="text-danger"
            *ngIf="
              newArticleForm.controls.title.touched &&
              newArticleForm.controls.title.errors?.required
            "
          >
            * Your title is required.
          </small>
          <small
            class="text-danger"
            *ngIf="
              newArticleForm.controls.title.touched &&
              newArticleForm.controls.title.errors?.minlength
            "
          >
            * Your title is too short.
          </small>
        </div>
        <!-- Article desciption -->
        <div class="form-group">
          <label for="description" class="text-p-dark font-weight-bold">
            Description:
          </label>
          <input
            id="description"
            class="form-control"
            type="text"
            placeholder="What's this post about?"
            formControlName="description"
          />
          <small
            class="text-danger"
            *ngIf="
              newArticleForm.controls.description.touched &&
              newArticleForm.controls.description.errors?.required
            "
          >
            * Your description is required.
          </small>
          <small
            class="text-danger"
            *ngIf="
              newArticleForm.controls.description.touched &&
              newArticleForm.controls.description.errors?.minlength
            "
          >
            * Your description is too short.
          </small>
        </div>
        <!-- Article body -->
        <div class="form-group">
          <label for="body" class="text-p-dark font-weight-bold"> Body: </label>
          <textarea
            id="body"
            class="form-control"
            placeholder="Write your post (in markdown)"
            formControlName="body"
            rows="5"
          ></textarea>
          <small
            class="text-danger"
            *ngIf="
              newArticleForm.controls.body.touched &&
              newArticleForm.controls.body.errors?.required
            "
          >
            * Your article body is required.
          </small>
          <small
            class="text-danger"
            *ngIf="
              newArticleForm.controls.body.touched &&
              newArticleForm.controls.body.errors?.minlength
            "
          >
            * Your article body is too short.
          </small>
        </div>
        <!-- Tag list -->
        <div class="form-group">
          <label for="tagList" class="text-p-dark font-weight-bold">
            Tag list:
          </label>
          <input
            id="tagList"
            class="form-control"
            type="text"
            placeholder="Enter tags (Press Enter to add)"
            (keydown.enter)="addTag($event)"
          />
          <div class="tag-container mt-2">
            <ng-container *ngFor="let tag of tagListForm.value; let i = index">
              <a
                class="tag-item btn bg-p-dark text-white mr-1 py-0 rounded-pill"
                (click)="removeTag(i)"
              >
                #{{ tag }}
              </a>
            </ng-container>
          </div>
        </div>

        <!-- Actions -->
        <div class="text-center">
          <button
            type="button"
            class="btn btn-outline-p-dark text-p-dark px-3 mr-2"
            (click)="saveDraftArticle()"
            *ngIf="!onEditing"
          >
            Save Draft
          </button>
          <button
            type="submit"
            class="btn btn-custom bg-p-dark px-3 text-white"
            [disabled]="newArticleForm.invalid"
            (click)="createArticle()"
          >
            {{ onEditing ? "Update" : "Publish" }}
          </button>
        </div>
      </form>
      <!-- Save Draft -->
      <div class="text-center text-p-dark mt-3" *ngIf="savedDraft">
        <p class="h2 text-success mb-0">Good Job!</p>
        <p class="mb-0">Your article has been saved to draft.</p>
        <p class="mb-0">Publish it to the community at anytime.</p>
      </div>
      <!-- Success -->
      <div class="text-center text-p-dark mt-3" *ngIf="isPublished">
        <p class="h2 text-success">Wel done!</p>
        <p class="mb-0">Your new article has been published!</p>
        <p class="mb-0">Redirecting to your new article to review.</p>
      </div>
      <!-- Error -->
      <div class="text-center text-p-dark mt-3" *ngIf="errorOccurs.status">
        <p class="h2 text-danger">
          {{ errorOccurs.msg || "Somethings went wrong!" }}
        </p>
        <p class="mb-0" *ngIf="!errorOccurs.msg.length && !onEditing">
          Save Draft and try to publish your article later.
        </p>
      </div>

      <ngx-spinner
        bdColor="rgba(255,255,255,0.25)"
        size="default"
        color="#5d99c6"
        type="ball-scale-multiple"
        [name]="'new-articles'"
        [fullScreen]="false"
      >
      </ngx-spinner>
    </div>
  </div>
</div>
