<ng-container *ngIf="articleDetail$ | async as articleDetail">
  <ng-container *ngIf="user$ | async as currUser">
    <div class="container text-p-dark">
      <div class="row">
        <div class="col-12 d-flex justify-content-center pt-4 pb-2">
          <div class="avatar d-flex align-items-center">
            <!-- Author's avatar -->
            <img
              class="rounded-circle"
              width="100px"
              height="100px"
              [src]="
                articleDetail.author.image ||
                'https://api.realworld.io/images/smiley-cyrus.jpeg'
              "
              [alt]="articleDetail.author.username + '\'s picture'"
            />
            <div class="ml-3">
              <div class="d-flex flex-column mb-1">
                <!-- Author's name -->
                <h2 class="mb-1">
                  <a
                    class="text-decoration-none text-p-dark"
                    routerLink="/profile/{{ articleDetail.author.username }}"
                    >{{ articleDetail.author.username }}</a
                  >
                </h2>
                <!-- Article created time -->
                <small class="mb-1">{{ articleDetail.createdAt | date }}</small>
                <!-- Follow author -->
                <div
                  class="btn btn-follow d-flex align-items-center position-relative"
                  [ngClass]="
                    !articleDetail.author.following
                      ? 'btn-outline-p-dark'
                      : 'bg-p-dark btn-hover text-white'
                  "
                  (click)="
                    !articleDetail.author.following
                      ? followUser(articleDetail.author.username)
                      : unFollowUser(articleDetail.author.username)
                  "
                >
                  <ngx-spinner
                    bdColor="rgba(255,255,255,0.25)"
                    size="default"
                    color="#5d99c6"
                    type="ball-scale-multiple"
                    [name]="'follow'"
                    [fullScreen]="false"
                  >
                  </ngx-spinner>
                  <ng-container
                    *ngIf="!articleDetail.author.following; else unFollowText"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-plus"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                      />
                    </svg>
                    <span>&nbsp;Follow</span>
                  </ng-container>
                  <ng-template #unFollowText>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-dash"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
                      />
                    </svg>
                    <span>&nbsp;Unfollow</span>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-3">
      <div class="row">
        <div class="col-8 mx-auto bg-white border shadow pt-4 pb-2">
          <h3 class="m-0 text-p-dark pb-3 d-flex justify-content-between">
            <!-- Article title -->
            <span>{{ articleDetail.title }}</span>
            <span class="d-flex flex-column">
              <!-- Favorite article -->
              <span
                class="btn py-0 btn-hover float-right position-relative"
                [ngClass]="
                  !articleDetail.favorited
                    ? 'btn-outline-p-dark text-p-dark'
                    : 'bg-p-dark text-white'
                "
                (click)="
                  !articleDetail.favorited
                    ? favoriteArticle(articleDetail.slug)
                    : unFavoriteArticle(articleDetail.slug)
                "
              >
                <ngx-spinner
                  bdColor="rgba(255,255,255,0.25)"
                  size="default"
                  color="#5d99c6"
                  type="ball-scale-multiple"
                  [name]="'article-favorite'"
                  [fullScreen]="false"
                >
                </ngx-spinner>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-heart-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                  />
                </svg>
                <span>&nbsp;{{ articleDetail.favoritesCount }}</span>
              </span>
              <!-- Delete article -->
              <span
                *ngIf="articleDetail.author.username === currUser.username"
                class="btn py-0 mt-2 btn-action btn-delete float-right"
                (click)="
                  deleteArticle(
                    articleDetail.slug,
                    articleDetail.author.username
                  )
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
                <span>&nbsp;Delete</span>
              </span>
              <!-- Edit article -->
              <a
                *ngIf="articleDetail.author.username === currUser.username"
                class="btn py-0 mt-2 btn-action btn-edit float-right text-decoration-none"
                routerLink="/edit-article/{{ articleDetail.slug }}"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
                <span>&nbsp;Edit</span>
              </a>
            </span>
          </h3>
          <div class="bio pt-2 pb-3">
            <!-- Article description -->
            <h5>{{ articleDetail.description }}</h5>
            <!-- Article body -->
            <p class="mb-4">{{ articleDetail.body }}</p>
            <!-- Article tag list -->
            <ng-container *ngFor="let tag of articleDetail.tagList">
              <a
                class="tag-item btn bg-p-dark text-white mr-1 py-0 rounded-pill"
                (click)="selectTag(tag)"
              >
                #{{ tag }}
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="container pb-1">
      <div class="row mb-2">
        <div class="col-8 mx-auto px-0 shadow">
          <div class="d-flex justify-content-center">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Write a comment..."
                [(ngModel)]="textComment"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-hover bg-p-dark text-white"
                  (click)="addComment(articleDetail.slug, textComment)"
                >
                  <span>Post Comment</span>
                </button>
              </div>
            </div>
            <ngx-spinner
              bdColor="rgba(255,255,255,0.25)"
              size="default"
              color="#5d99c6"
              type="ball-scale-multiple"
              [name]="'comment-input'"
              [fullScreen]="false"
            >
            </ngx-spinner>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-container container mb-5 position-relative">
      <div class="row" *ngFor="let comment of comment$ | async">
        <div class="col-8 mx-auto py-2 px-0">
          <div class="d-flex align-items-center">
            <div>
              <img
                class="rounded-circle mr-2"
                width="30px"
                height="30px"
                [src]="
                  comment.author.image ||
                  'https://static.productionready.io/images/smiley-cyrus.jpg'
                "
                [alt]="comment.author.image + '\'s picture'"
              />
            </div>
            <div
              class="bg-white shadow border px-3 py-2 flex-grow-1 text-wrap arrow-left ml-3"
            >
              <div class="d-flex">
                <a
                  class="mr-2 font-weight-bold text-p-dark d-inline-block text-decoration-none"
                  routerLink="/profile/{{ comment.author.username }}"
                  >{{ comment.author.username }}</a
                >
                <small class="date d-inline-block">{{
                  comment.updatedAt | date
                }}</small>
                <span
                  class="d-inline-block ml-auto cursor-pointer icon-d-comment"
                  title="Delete"
                  *ngIf="comment.author.username === currUser.username"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                    (click)="deleteComment(articleDetail.slug, comment.id)"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    /></svg
                ></span>
              </div>
              <div class="text-break">
                {{ comment.body }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <ngx-spinner
        bdColor="rgba(255,255,255,0.25)"
        size="default"
        color="#5d99c6"
        type="ball-scale-multiple"
        [name]="'comment-list'"
        [fullScreen]="false"
      >
      </ngx-spinner>
    </div>
  </ng-container>
</ng-container>
