.btn-hover:hover {
  background-color: #003c8fcc;
}
.btn-width {
  width: 115px;
}
.tag-item {
  background-color: #5d99c6e6;
  cursor: text !important;
}
.date {
  font-size: small;
  color: #0000004d;
}
.arrow-left {
  position: relative;
}
.arrow-left::before {
  content: "";
  border-width: 30px 30px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  left: -45px;
  top: 1px;
  transform: rotate(-90deg);
}
.btn-delete {
  border-color: #5d99c6;
  color: #5d99c6;
}
.btn-delete:hover {
  border-color: red;
  color: red;
}
.icon-delete {
  position: relative;
  svg {
    position: absolute;
    top: 4px;
    left: -15px;
  }
}
.icon-d-comment {
  color: #5d99c6;
  &:hover {
    color: red;
  }
}
