<div class="container text-p-dark">
  <div class="row">
    <div class="col-12 d-flex justify-content-center pt-4 pb-2">
      <div class="avatar d-flex align-items-center">
        <div>
          <img
            class="rounded-circle"
            width="100px"
            height="100px"
            [src]="
              articleDetail?.article?.author?.image.startsWith('http')
                ? articleDetail?.article?.author?.image
                : 'https://static.productionready.io/images/smiley-cyrus.jpg'
            "
            alt=""
          />
        </div>
        <div class="ml-3">
          <div class="d-flex flex-column mb-1">
            <h2 class="mb-1">
              <a
                class="text-decoration-none text-p-dark"
                routerLink="/profile/{{
                  articleDetail?.article?.author?.username
                }}"
                >{{ articleDetail.article?.author?.username }}</a
              >
            </h2>
            <small class="mb-1">{{
              articleDetail.article?.createdAt | date
            }}</small>
            <div>
              <div
                *ngIf="
                  follow === false &&
                  articleDetail?.article?.author?.username !== userName
                "
                class="btn py-0 btn-width btn-outline-p-dark"
                (click)="followed(articleDetail.article?.author?.username)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
                <span>&nbsp;Follow</span>
              </div>
              <div
                *ngIf="
                  follow === true &&
                  articleDetail?.article?.author?.username !== userName
                "
                class="btn py-0 btn-width btn-hover bg-p-dark text-white"
                (click)="unFollowed(articleDetail?.article?.author?.username)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
                  />
                </svg>
                <span>&nbsp;Unfollow</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-8 mx-auto bg-white border shadow pt-4 pb-2">
      <h3 class="m-0 text-p-dark pb-3 d-flex justify-content-between">
        <span>{{ articleDetail?.article?.title }}</span>
        <span class="d-flex flex-column">
          <!-- Favorite button -->
          <span
            *ngIf="
              favorite === false &&
              articleDetail?.article?.author?.username !== userName
            "
            class="btn py-0 btn-hover btn-outline-p-dark text-p-dark float-right"
            (click)="favoriteArticle(articleDetail?.article?.slug)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-heart-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
              />
            </svg>
            <span>&nbsp;{{ favoritesCount }}</span>
          </span>
          <!-- Unfavorite button -->
          <span
            *ngIf="
              favorite === true &&
              articleDetail?.article?.author?.username !== userName
            "
            class="btn py-0 btn-hover bg-p-dark text-white float-right"
            (click)="unFavoriteArticle(articleDetail?.article?.slug)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-heart-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
              />
            </svg>
            <span>&nbsp;{{ favoritesCount }}</span>
          </span>
          <!-- Delete button -->
          <span
            *ngIf="articleDetail?.article?.author?.username === userName"
            class="btn pl-4 py-0 btn-action btn-delete float-right"
            (click)="
              deleteArticle(
                articleDetail.article?.slug,
                articleDetail.article?.author?.username
              )
            "
          >
            <span>
              <span class="mr-1 icon-delete"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </span>
              <span>Delete</span>
            </span>
          </span>
          <!-- Edit Article Button -->
          <a
            *ngIf="articleDetail.article?.author?.username === userName"
            class="btn pl-4 py-0 mt-2 btn-action btn-edit float-right text-decoration-none"
            routerLink="/edit-article/{{ articleDetail?.article?.slug }}"
          >
            <span>
              <span class="mr-1 icon-delete"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </span>
              <span>Edit</span>
            </span>
          </a>
        </span>
      </h3>
      <div class="bio pt-2 pb-3">
        <p class="mb-4">{{ articleDetail?.article?.body }}</p>
        <span *ngFor="let tag of tagLists">
          <span class="tag-item btn text-white mr-1 py-0 rounded-pill"
            >#{{ tag }}</span
          >
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container pb-1">
  <div class="row mb-2">
    <div class="col-8 mx-auto px-0 shadow">
      <div class="d-flex justify-content-center">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Write a comment..."
            [(ngModel)]="textComment"
          />
          <div class="input-group-append">
            <button
              class="btn btn-hover bg-p-dark text-white"
              (click)="addComment(articleDetail?.article?.slug, textComment)"
            >
              Post Comment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row" *ngFor="let comment of commentLists">
    <div class="col-8 mx-auto py-2 px-0">
      <div class="d-flex align-items-center">
        <div>
          <img
            class="rounded-circle mr-2"
            width="30px"
            height="30px"
            [src]="
              comment?.author?.image.startsWith('http')
                ? comment?.author?.image
                : 'https://static.productionready.io/images/smiley-cyrus.jpg'
            "
            alt=""
          />
        </div>
        <div
          class="bg-white shadow border px-3 py-2 flex-grow-1 text-wrap arrow-left ml-3"
        >
          <div class="d-flex">
            <a
              class="mr-2 font-weight-bold text-p-dark d-inline-block text-decoration-none"
              routerLink="/profile/{{ comment?.author?.username }}"
              >{{ comment?.author?.username }}</a
            >
            <small class="date d-inline-block">{{
              comment?.updatedAt | date
            }}</small>
            <span
              class="d-inline-block ml-auto cursor-pointer icon-d-comment"
              title="Delete"
              *ngIf="comment?.author?.username === userName"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
                (click)="
                  deleteComment(articleDetail?.article?.slug, comment?.id)
                "
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                /></svg
            ></span>
          </div>
          <div class="text-break">
            {{ comment?.body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
