<div class="container pb-5">
  <div class="row mb-4">
    <div class="col-8 mt-4 mx-auto bg-white shadow pb-3">
      <h1 class="text-center text-p-dark my-4">Changelogs</h1>
      <div
        class="jumbotron jumbotron-fluid py-3"
        *ngFor="let changelog of data"
      >
        <div class="container">
          <p class="h5">
            <em>{{ changelog.date | date }}</em>
          </p>
          <p class="lead text-justify" [innerHTML]="changelog.body"></p>
          <ul class="text-p-dark pl-3 m-0">
            <li *ngFor="let feature of changelog.list">{{ feature }}</li>
          </ul>
        </div>
        <div
          class="text-center text-p-dark mb-0 mt-4 mb-2"
          *ngIf="changelog.links.length"
        >
          <ng-container *ngFor="let link of changelog.links">
            <a class="h2 text-p-dark" [routerLink]="link.path">
              <u>{{ link.label }}</u>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
