.conduit {
  font-size: 24px;
}
.navUserItems {
  display: none;
}
.Users:hover .navUserItems {
  display: block;
}
.dropdown-item-active:active {
  background-color: #5d99c6e6;
}
.label-hover:hover {
  text-shadow: 0 0 2px;
}

.banner {
  background: url(./../../../../assets/banner.jpg) no-repeat center;
  background-size: cover;
}
