<div class="editor-page container">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <h1 class="text-center my-2 text-p-dark my-4">New Article</h1>
        <form>
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Post title"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="What's this post about?"
              />
            </fieldset>

            <fieldset class="form-group">
              <textarea
                class="form-control"
                rows="8"
                placeholder="Write your post (in markdown)"
              ></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Enter tags"
              />
            </fieldset>
            <div class="text-center">
              <app-button
                [btnContent]="'Publish Article'"
                (click)="addNewArticle()"
              ></app-button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
