<div class="editor-page container">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <h1 class="text-center my-2 text-p-dark my-4">New Article</h1>
        <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Post title"
                formControlName="title"
              />
              <div
                *ngIf="get('title')?.touched && get('title').invalid"
                class="alert alert-danger mt-1"
                role="alert"
              >
                <div *ngIf="get('title').errors.required">
                  Title is required
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="What's this post about?"
                formControlName="description"
              />
              <div
                *ngIf="
                  get('description')?.touched && get('description').invalid
                "
                class="alert alert-danger mt-1"
                role="alert"
              >
                <div *ngIf="get('description').errors.required">
                  Description is required
                </div>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <textarea
                class="form-control"
                rows="8"
                placeholder="Write your post (in markdown)"
                formControlName="body"
              ></textarea>
              <div
                *ngIf="get('body')?.touched && get('body').invalid"
                class="alert alert-danger mt-1"
                role="alert"
              >
                <div *ngIf="get('body').errors.required">Body is required</div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Enter tags"
                formControlName="tagList"
              />
            </fieldset>
            <div
              *ngIf="get('tagList')?.touched && get('tagList').invalid"
              class="alert alert-danger mt-1"
              role="alert"
            >
              <div *ngIf="get('tagList').errors.required">Tag is required</div>
            </div>
            <div class="text-right">
              <app-button
                [btnContent]="'Publish Article'"
                (click)="addNewArticle()"
              ></app-button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
