<div class="container pb-5">
  <div class="row mb-4">
    <div class="col-8 mt-4 mx-auto bg-white shadow pb-3">
      <h1 class="text-center text-p-dark my-4">Your Settings</h1>
      <form [formGroup]="settingForm">
        <!-- CHANGING PERSONAL -->
        <ng-container *ngIf="!changingPassword; else changingPasswordForm">
          <!-- Image -->
          <div class="form-group">
            <label for="image" class="text-p-dark font-weight-bold"
              >URL of your profile picture:</label
            >
            <input
              id="image"
              class="form-control"
              type="url"
              placeholder="URL of profile picture"
              formControlName="image"
            />
          </div>
          <!-- Username -->
          <div class="form-group">
            <label for="username" class="text-p-dark font-weight-bold"
              >Your username</label
            >
            <input
              class="form-control"
              id="username"
              type="text"
              placeholder="Your username"
              formControlName="username"
            />
            <small
              class="text-danger"
              *ngIf="
                settingForm.controls.username.touched &&
                settingForm.controls.username.errors?.required
              "
            >
              * Your username is required.
            </small>
          </div>
          <!-- Bio -->
          <div class="form-group">
            <label for="bio" class="text-p-dark font-weight-bold"
              >Your bio:</label
            >
            <textarea
              id="bio"
              class="form-control"
              placeholder="Short bio about you"
              formControlName="bio"
              maxlength="150"
              rows="5"
            ></textarea>
          </div>
          <!-- Email -->
          <div class="form-group">
            <label for="email" class="text-p-dark font-weight-bold"
              >Your email address:</label
            >
            <input
              id="email"
              class="form-control"
              type="email"
              placeholder="Your email address"
              formControlName="email"
            />
            <small
              class="text-danger"
              *ngIf="
                settingForm.controls.email.touched &&
                settingForm.controls.email.errors?.required
              "
            >
              * Your email is required.
            </small>
            <small
              class="text-danger"
              *ngIf="
                settingForm.controls.email.touched &&
                settingForm.controls.email.errors?.email
              "
            >
              * Your email format is invalid.
            </small>
          </div>
        </ng-container>

        <!-- CHANGING PASSWORD -->
        <ng-template #changingPasswordForm>
          <!-- Password -->
          <div class="form-group">
            <label for="password" class="text-p-dark font-weight-bold"
              >Your password:</label
            >
            <input
              id="password"
              class="form-control"
              type="password"
              placeholder="Your new password"
              formControlName="password"
            />
            <small
              class="text-danger"
              *ngIf="
                settingForm.controls.password.touched &&
                settingForm.controls.password.errors?.required
              "
            >
              * Your password is required.
            </small>
          </div>
          <!-- Confirm password -->
          <div class="form-group">
            <label for="cfPassword" class="text-p-dark font-weight-bold"
              >Confirm your password:</label
            >
            <input
              id="cfPawword"
              class="form-control"
              type="password"
              placeholder="Confirm your password"
              formControlName="cfPassword"
            />
            <small
              class="text-danger"
              *ngIf="
                settingForm.controls.cfPassword.touched &&
                settingForm.controls.cfPassword.errors?.required
              "
            >
              * Your confirm-password is required.
            </small>
            <small
              class="text-danger"
              *ngIf="
                !(isPwMatched | async) &&
                settingForm.controls.cfPassword.touched
              "
            >
              * Your confirm-password is not matched.
            </small>
          </div>
        </ng-template>

        <!-- ACTION BUTTONS -->
        <div class="text-right">
          <!-- Switching between password/personal form -->
          <button
            type="button"
            class="btn btn-outline-p-dark text-p-dark mr-2"
            (click)="changingPassword = !changingPassword"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-box-arrow-left align-top pr-2"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
              />
              <path
                fill-rule="evenodd"
                d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
              />
            </svg>
            {{ !changingPassword ? "Change Password" : "Personal settings" }}
          </button>
          <!-- Submit button -->
          <button
            type="submit"
            class="btn btn-custom bg-p-dark px-3 text-white"
            (click)="updateSettings()"
          >
            {{
              changingPassword
                ? "Update Password"
                : "Update Personal Information"
            }}
          </button>
        </div>

        <!-- NOTIFICATIONS -->
        <div
          class="alert alert-success mb-0 mt-3"
          role="alert"
          *ngIf="isSuccess"
        >
          Your settings have been changed.
        </div>
        <div
          class="alert alert-danger mb-0 mt-3"
          role="alert"
          *ngIf="isTaken.status"
        >
          <ng-container
            *ngIf="
              isTaken.key === 'username' || isTaken.key === 'email';
              else otherErrors
            "
          >
            Your
            {{ isTaken.key === "username" ? "username" : "email address" }}
            has been taken. Please try with another one.
          </ng-container>
          <ng-template #otherErrors
            >Something went wrong. Refresh the website and try
            again.</ng-template
          >
        </div>
      </form>
    </div>
  </div>
</div>
