<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-center text-p-dark my-2">Your Settings</h1>
        <form>
          <fieldset>
            <fieldset class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="URL of profile picture"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Your Name"
              />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                class="form-control"
                rows="8"
                placeholder="Short bio about you"
              ></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control" type="text" placeholder="Email" />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control"
                type="password"
                placeholder="Password"
              />
            </fieldset>
            <div class="text-right">
              <app-button
                [btnContent]="'Update Settings'"
                (click)="updateSettings()"
              ></app-button>
              <hr />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
