<div class="container">
  <div class="row">
    <div class="col-9 shadow-lg">
      <nav>
        <div class="nav nav-tabs text-p-dark">
          <span
            class="nav-link font-weight-bold"
            [class.active]="mode === 'myFeedMode'"
            (click)="myFeedMode()"
            >My Feed</span
          >
          <span
            class="nav-link font-weight-bold"
            [class.active]="mode === 'myGlobalMode'"
            (click)="myGlobalMode()"
            >Global Feed</span
          >
        </div>
      </nav>
      <div class="tab-content">
        <div class="tab-pane fade show active">
          <app-my-feed *ngIf="mode === 'myFeedMode'"></app-my-feed>
          <app-global-feed *ngIf="mode === 'myGlobalMode'"></app-global-feed>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="popular-tags bg-light p-2 shadow-lg">
        <p class="pl-1">Popular Tags</p>
        <div class="listtags d-flex flex-wrap">
          <a
            class="tag-item btn bg-p-dark text-white m-1 py-0 rounded-pill"
            href=""
            *ngFor="let tag of listTags"
            >{{ tag }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
