<nav *ngIf="!isEmpty; else emptyBlock">
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item bg-white shadow" (click)="goToFirstPage()">
      <span class="page-link text-p-dark">First</span>
    </li>
    <li class="page-item bg-white shadow" (click)="goToPreviousPage()">
      <span class="page-link text-p-dark">Previous</span>
    </li>
    <li
      class="page-item bg-white shadow disabled"
      *ngIf="isOverflowedPrev && totalPages > 10"
    >
      <span class="page-link text-p-dark">...</span>
    </li>
    <li
      class="page-item bg-white shadow"
      [class.active]="selectedPage === i"
      *ngFor="let page of pages; let i = index"
      (click)="goToPage(i)"
    >
      <span class="page-link text-p-dark">{{ i + 1 }}</span>
    </li>
    <li
      class="page-item bg-white shadow disabled"
      *ngIf="isOverflowedNext && totalPages > 10"
    >
      <span class="page-link text-p-dark">...</span>
    </li>
    <li class="page-item bg-white shadow" (click)="goToNextPage()">
      <span class="page-link text-p-dark">Next</span>
    </li>
    <li class="page-item bg-white shadow" (click)="goToLastPage()">
      <span class="page-link text-p-dark">Last</span>
    </li>
  </ul>
</nav>
<ng-template #emptyBlock>
  <div class="h6 mt-2">
    No articles are here... yet.
    <br />
    Go to Global Feed and try to follow your favorite authors to fill up your
    feed.
  </div>
</ng-template>
