li {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li.disabled {
  cursor: not-allowed;
}

.page-item {
  &.active .page-link {
    background-color: #5d99c6;
    border-color: #dee2e6 !important;
  }
}
