<nav *ngIf="!isEmpty; else emptyBlock">
  <ul class="pagination d-flex justify-content-center">
    <!-- First button -->
    <li
      class="page-item bg-white shadow"
      (click)="goToFirstPage()"
      *ngIf="selectedLabel > 1"
    >
      <span class="page-link text-p-dark">First</span>
    </li>
    <!-- Previous button -->
    <li
      class="page-item bg-white shadow"
      (click)="goToPrevPage()"
      *ngIf="selectedLabel > 1"
    >
      <span class="page-link text-p-dark">Previous</span>
    </li>
    <!-- Dots previous -->
    <li
      class="page-item bg-white shadow disabled"
      *ngIf="totalPages > maxLenPages && selectedLabel > 1 + (idxToPrev + 1)"
    >
      <span class="page-link text-p-dark">...</span>
    </li>
    <!-- Page numbers -->
    <li
      class="page-item bg-white shadow"
      [class.active]="selectedLabel === page.label"
      *ngFor="let page of pages; trackBy: trackByLabel"
      (click)="goToPage(page)"
    >
      <span class="page-link text-p-dark">{{ page.label }}</span>
    </li>
    <!-- Dots next -->
    <li
      class="page-item bg-white shadow disabled"
      *ngIf="
        totalPages > maxLenPages && selectedLabel < totalPages - (idxToNext - 1)
      "
    >
      <span class="page-link text-p-dark">...</span>
    </li>
    <!-- Next button -->
    <li
      class="page-item bg-white shadow"
      (click)="goToNextPage()"
      *ngIf="selectedLabel < totalPages"
    >
      <span class="page-link text-p-dark">Next</span>
    </li>
    <!-- Last button -->
    <li
      class="page-item bg-white shadow"
      (click)="goToLastPage()"
      *ngIf="selectedLabel < totalPages"
    >
      <span class="page-link text-p-dark">Last</span>
    </li>
  </ul>
</nav>
<ng-template #emptyBlock>
  <div class="h6 mt-2">
    No articles are here... yet.
    <br />
    Go to Global Feed and try to follow your favorite authors to fill up your
    feed.
  </div>
</ng-template>
