/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default !important;
}

.text-p-dark {
  color: #5d99c6;
}

.bg-p-dark {
  background-color: #5d99c6e6;
}

.btn-outline-p-dark {
  border-color: #5d99c6;
  color: #5d99c6;
}

.btn-outline-p-dark:hover {
  background-color: #5d99c6;
  color: white;
}

.border-p-dark {
  color: #5d99c6;
}

.active2 {
  background-color: #5d99c6 !important;
  color: white !important;
}

.tag-item:hover {
  background-color: #003c8fcc;
}

.opacity-custom {
  opacity: 0.5;
}

.pt-6 {
  padding-top: 100px;
}

.bg-img {
  background: url(./assets/banner.jpg) no-repeat center;
  background-size: cover;
}
