/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.cursor-pointer {
  cursor: pointer;
}
.text-p-light {
  color: #c3fdff;
}
.bg-p-light {
  background-color: #c3fdff;
}
.text-p-dark {
  color: #5d99c6;
}
.bg-p-dark {
  background-color: #5d99c6;
}
