<div class="container pb-5">
  <div class="row my-4">
    <div
      class="col-6 mx-auto py-4 bg-white shadow"
      *ngIf="!authService.isAuthenticated()"
    >
      <div class="form-wrapper" *ngIf="!authService.isAuthenticated()">
        <div class="h2 mb-4 text-center text-p-dark">Sign up</div>
        <form [formGroup]="signupForm">
          <div class="form-group">
            <input
              type="username"
              class="form-control"
              placeholder="Your username"
              formControlName="username"
              autocomplete="off"
              required
            />
            <small
              *ngIf="
                signupForm.controls.username.invalid &&
                signupForm.controls.username.touched
              "
              class="text-danger"
              >* Username is required
            </small>
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Your email address"
              formControlName="email"
              autocomplete="off"
              required
            />
            <small
              *ngIf="
                signupForm.controls.email.invalid &&
                signupForm.controls.email.touched
              "
              class="text-danger"
            >
              * Email is required
            </small>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
              autocomplete="off"
              required
              minlength="8"
            />
            <div *ngIf="signupForm.controls.password.invalid">
              <div>
                <small
                  *ngIf="signupForm.controls.password.touched"
                  class="text-danger"
                >
                  * Password is required
                </small>
              </div>
              <div>
                <small
                  *ngIf="signupForm.controls.password.errors.minlength"
                  class="text-danger"
                >
                  * Min-length is 8 charaters
                </small>
              </div>
            </div>
          </div>
          <div class="text-center my-3">
            Already have an account?&nbsp;<a
              class="text-p-dark"
              routerLink="/login"
              >Login here</a
            >
          </div>
          <div class="d-flex justify-content-center">
            <app-button
              [btnContent]="'Sign up'"
              (click)="signUp()"
            ></app-button>
          </div>
          <div *ngIf="isInvalidInput" class="alert alert-danger mt-3 mb-0">
            Email or Username has already been taken.
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 pt-5">
        <div
          *ngIf="authService.isAuthenticated()"
          class="h3 text-center text-p-dark"
        >
          Your account has been registered. Redirecting to previous page...
        </div>
      </div>
    </div>
  </div>
</div>
