<div class="article-card py-3">
  <div class="d-flex justify-content-between align-content-center">
    <div class="avatar d-flex">
      <div>
        <img class="rounded-circle" width="40px" height="40px" [src]="data.author.image" alt="" />
      </div>
      <div class="ml-2">
        <a class="mb-0">{{ data.author?.username }}</a>
        <small>{{ data.createdAt | date }}</small>
      </div>
    </div>
    <div class="heart-button d-flex align-content-center">
      <app-button-like
        [isFavorited]="isFavorited"
        [favoritesCount]="favoritesCount"
        (dataFromChild)="getDataFromChild($event)"
      ></app-button-like>
    </div>
  </div>
  <h4>
    <a routerLink="/articles/{{ data.slug }}">{{ data.title }}</a>
  </h4>
  <p>{{ data.description }}</p>
  <a href="">Read more...</a>
</div>
